# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

#### .NET Coding Conventions ####

# IDE0040: Accessibility modifiers required (escalated to a build warning)
dotnet_diagnostic.IDE0040.severity = warning

# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = warning

dotnet_diagnostic.IDE0031.severity = warning

dotnet_diagnostic.CS8618.severity = warning

dotnet_code_quality.CA1040.api_surface = public