# This is a basic workflow to help you get started with Actions

name: CICD_develop_DEV


# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build_and_test:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04
    environment: DEV
    steps:   
          
    - name: Fetch Depth      
      uses: actions/checkout@v4

           
    - name: Dotnet Setup
      uses: actions/setup-dotnet@v3
      # Setup for dotnet
      with:
        dotnet-version: 7.0.x    
  
    - name: NuGet restore
      run: dotnet restore '${{ github.workspace }}/src/TransCelerate.SDR.sln'     
        
    - name: Build Solution
      run: dotnet publish 'src/TransCelerate.SDR.sln' --configuration release            

    - name: Dotnet Test
      # Running Dotnet test cases and also scanning the code code in sonar with using code coverage file
      run: |
          dotnet test 'src/TransCelerate.SDR.UnitTesting/TransCelerate.SDR.UnitTesting.csproj' --configuration release  --collect "XPlat Code Coverage" --logger trx 
          cp ${{ github.workspace }}/src/TransCelerate.SDR.UnitTesting/TestResults/*/coverage.cobertura.xml '${{ github.workspace }}/coverage.cobertura.xml'
    
    - name: Code Coverage Summary Report
      uses: irongut/CodeCoverageSummary@v1.0.2
      # Code Coverage report
      with:
        filename: coverage.cobertura.xml
        badge: true
        format: 'markdown'
        output: 'both'
        
    - name: use this action, test solution dir
      uses: zyborg/dotnet-tests-report@v1
      # Publish the test cases run in Github
      with:
        project_path: '${{ github.workspace }}/src/TransCelerate.SDR.UnitTesting'
        report_name: 'TransCelerate.SDR.UnitTesting'
        report_title: API Tests Report
        github_token: ${{ secrets.GITHUB_TOKEN }}
   
  image_deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04
    environment: DEV
    steps:   
           
    - name: Fetch Depth      
      uses: actions/checkout@v4

    # "Note: the 'AZURE_SP' secret is required to be added into GitHub Secrets. See this blog post for details: https://samlearnsazure.blog/2019/12/13/github-actions/"
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_SP }} 
        
    - name: GitHub Container Registry Login
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}  
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ghcr.io/transcelerate/sdrapibuild:latest
        
    - uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
        images: 'ghcr.io/transcelerate/sdrapibuild:latest'     

    
